# See src/utils/envConfig.ts for the list of Required env vairables

# Jira Configuration
JIRA_API_TOKEN=your_jira_api_token
JIRA_DOMAIN=https://your-domain.atlassian.net
JIRA_USER=your.email@example.com

# Linear Configuration
LINEAR_API_KEY=your_linear_api_key
LINEAR_TEAM_ID=your_linear_team_id

# Clockify Configuration
CLOCKIFY_API_KEY=your_clockify_api_key
CLOCKIFY_MAIN_WORKSPACE_ID=your_clockify_workspace_id
CLOCKIFY_PROJECT_STORIES_ID=your_clockify_project_id

# Custom Configuration Directory
WA_1_CONFIG_DIR=/path/to/your/custom/config/directory
